*, body{
  letter-spacing: normal;
}

.main_product .page-width,
.nx-breadcrumbs__row.page-width {
  max-width: 1420px;
}
.product__title h1 {
    font-size: 24px;
    line-height: 1.2;
    color: #30309F;
}
.price--on-sale .price__sale .price-item.price-item--sale,
.price__regular .price-item--regular {
    color: #30309F;
    font-weight: 600;
    font-size: 16px;
    margin-right: 4px !important;
    line-height: 1.2;
}
span.include-vat-text {
    font-size: 16px;
    color: #212133;
    font-weight: 400;
}
.price--on-sale .price-item--regular {
    margin-right: 4px !important;
}
.product .price .badge {
    display: none;
}
.product .product__info-container > * + * {
  margin: 2.9rem 0;
}
.price--on-sale .price-item--regular {
  color: rgba(var(--color-foreground)) !important;
}
.product .slider-buttons {
    display: none;
}
p.product__text.inline-richtext {
    font-size: 14px;
    color: #212133;
    line-height: 1.28;
}
span.from_text {
    font-size: 13px;
    font-weight: 400;
    margin-right: 5px;
    color: #212133;
}
.svg-wrapper .cross_icon {
    width: 12px;
    height: 12px;
}
.product .product-form__quantity .form__label {
    display: none;
}
.product .product-form__buttons .product-form__input {
    flex: unset;
}
.product .product-form__buttons {
    width: 100%;
    max-width: 100%;
    display: flex;
    gap: 16px;
}
.product-form__buttons .quantity {
    width: 120px;
}
.wrap_in_div_main {
    padding: 24px;
    background: #EBEBFF;
    border: 1px solid #D5D5E5;
    border-radius: 2px;
}
.product .product-form__input .form__label {
    font-size: 14px;
    font-weight: 700;
    opacity: 1;
    color: #0D223F;
}
.product-form__input .select::before,
.product-form__input .select::after {
    display: none;
}
.product-form__input .select .select__select {
    min-height: 48px;
    border: 1px solid #212133;
    box-shadow: unset;
    color: #212133;
    font-size: 14px;
}
.product .product-form__input--dropdown {
    margin-bottom: 8px;
    max-width: 100%;
}
.price-per-item__container .quantity:after{
  box-shadow: 0 0 0 var(--inputs-border-width) rgba(33, 33, 51, 1);
}
.product .product__info-container .product-form {
    margin-bottom: 0;
}
.product .price-per-item__container {
    background: #fff;
}
.product .product-form__submit {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
}
.price_pdp_main .price__regular .price-item--regular {
    font-size: 20px;
}
.product--stacked .product__media-item{
  position: relative;
}
.product .product_badges {
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
    bottom: 16px;
    right: 16px;
}
.product .product_badges img {
    max-width: 82px;
  }
/* Responsive css */
@media screen and (min-width: 990px) {
  .main_product .product--medium:not(.product--no-media) .product__media-wrapper, .main_product .product--small:not(.product--no-media) .product__info-wrapper {
    max-width: 54.2%;
    width: calc(55% - var(--grid-desktop-horizontal-spacing) / 2);
  }
  .main_product .product--medium:not(.product--no-media) .product__info-wrapper, .main_product .product--small:not(.product--no-media) .product__media-wrapper {
    max-width: 45.8%;
    width: calc(45% - var(--grid-desktop-horizontal-spacing) / 2);
  }
}

@media screen and (min-width: 750px) {
  .main_product .product__info-wrapper {
    padding: 0 0 0 30px;
  }
}
@media screen and (min-width: 990px) {
  .main_product .product__info-wrapper {
    padding: 0 0 0 72px;
  }
}

@media screen and (max-width: 989px) {
  .wrap_in_div_main{
    padding: 24px 16px;
  }
  .product .price-per-item__container {
    max-width: 120px;
  }
  .price_pdp_main_wr {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }

  .price_pdp_main_wr .product-form__input {
      flex: unset;
      max-width: 120px;
      margin: 0;
  }
  .product .product__info-container .product-form {
    margin-bottom: 0;
    margin-top: 16px;
  }
}
@media screen and (max-width: 749px) {
  .product__title h1 {
    font-size: 20px;
  }
  .product .product_badges img {
    max-width: 72px;
  }
  .product .product_badges {
    align-items: flex-end;
    bottom: 16px;
    right: 16px;
    height: calc(100% - 35px);
    top: 6px;
    justify-content: space-between;
    margin: 11px 0;
  }
}
